* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #0eb5ad;
  --primary-shadow: 0px 3px 26px -1px rgba(14, 181, 173, 1);
  --muted: #999999;
  --dark-color: rgb(26, 26, 26);
}

body {
  background-color: whitesmoke;
}

p {
  line-height: 1.6rem;
}
